body    {
    font-family: Arial, sans-serif;
}

.nav-container  {
    display: flex;
    justify-content: space-between;
}

.top-left-links {
    margin-left: 10px;
}

.top-right-links    {
    margin-right: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

/*.google-image   {
    display: flex;
    justify-content: center;
}
*/